html,
body {
  font-family: "Quando", serif;
  overflow: hidden;
  box-sizing: border-box;
  color: floralwhite;
  height: 100%;
  background: linear-gradient(320deg, #fe6595, #200b61, #e2d998);
  background-size: 600% 600%;
  animation: AnimationName 48s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
